/* src/components/Step.module.css */
.step {
	padding: 20px;
	border: 1px solid #ddd;
	margin: 10px 0;
	margin-bottom: 20px;
}

.stepContent {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.stepDetails {
	display: flex;
	flex-direction: column;
}

.stepDetails label {
	display: block;
	margin-bottom: 10px;
}

.input,
.textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	font-size: 1rem;
	width: 100%;
	box-sizing: border-box;
}

.input:focus,
.textarea:focus {
	border-color: #007bff;
	outline: none;
}

.stepImagePreview {
	display: block;
	margin-top: 10px;
	max-width: 100%;
	height: auto;
}
.executeButton {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px 12px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

.executeButton:hover {
	background-color: #45a049;
}
.highlighted::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120%; /* Ширина чуть больше родительского элемента */
	height: 130%; /* Высота чуть больше родительского элемента */
	outline: 1px solid #ccc;
	z-index: 30; /* Устанавливаем z-index выше для подсветки */
	/* border: 2px solid beige; */
	border-radius: 10px;
	background-color: rgba(222, 225, 138, 0.5); /* Бежевый цвет с прозрачностью */
	pointer-events: none; /* Чтобы подсветка не мешала кликам по элементу */

	transform: translate(-50%, -50%); /* Центрируем по X и Y */
}
